body {
  margin: 0;
  padding: 0;
}

header {
    background-image: linear-gradient(red, rgba(255,255,255,0));
    padding: 4rem;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.pokemon {
  width: 20rem;
  margin: 1rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem;
  border: 1px solid #ddd;
}

.pokemon img {
  width: 13rem;
  height: 13rem;
  margin-right: 0.7rem;
}

.pokemon .name {
  font-weight: bold;
}

.pokemon .id {
  font-family: monospace;
}

.pokemon .weight {
    font-family: monospace;
  }


  /* Logo */

  .logo {
    margin: 4rem 2rem;
    justify-content: center;
  }

  .logo img{
    height: 15rem;
    width: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Pokemon Types colors */

  .types {
    color: white;
    text-align: center;
  }

  .normal {
    background-color: #ccc9aa;
  }

  .fighting {
    background-color: #e8121a;
  }

  .flying {
    background-color: #5eb9b4;
  }

  .poison {
    background-color: #a719d7;
  }

  .ground {
    background-color: #e2d15b;
  }

  .rock {
    background-color: #786b3f;
  }

  .bug {
    background-color: #bddd6e;
  }

  .steel {
    background-color: #7b8e8a;
  }

  .fire {
    background-color: #f67e0d;
  }

  .water {
    background-color: #0a79be;
  }

  .grass {
    background-color: #3f9609;
  }

  .electric {
    background-color: #fffa25;
  }

  .psychic {
    background-color: #ed0f64;
  }

  .ice {
    background-color: #1a94a3;
  }

  .dragon {
    background-color: #8b56fe;
  }

  .dark {
    background-color: #604733;
  }

  .fairy {
    background-color: #ff9fc2;
  }

  .unknown {
    background-color: white;
  }

  .shadow {
    background-color: grey;
  }

