body {
  margin: 0;
  padding: 0;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pokemon {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem;
  border: 1px solid #ddd;
}

.pokemon img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.pokemon .name {
  font-weight: bold;
}

.pokemon .id {
  font-family: monospace;
}
